
body{
    background-color: rgb(25,25,25);
}
.slogon p{
    text-align: center;
    margin-top: 120px;
}

*{
    font-family: 'Great Vibes', cursive;
font-family: 'Kalam', cursive;
font-family: 'Playfair Display', serif;
}
.galary{
    display: flex;
    justify-content: center; 
    margin-top: 150px;
}

.galary img{
    min-width:0;
    flex: 1 1 10px;
    object-fit: contain;
    opacity: 0.3;
    transition: 0.5s;
    padding-left: 5px;
}
.galary img:hover{
    flex: 1 1 220px;
    opacity: 1;
}
.base{
  text-align: center;
  margin-top: 150px;
  overflow: hidden;
    position:fixed;
    bottom: 0;
}